.row
  .col-lg-8
    %div
      %h2
        =link_to (shortener_show_url :id => @shortened_url.unique_key), (shortener_show_url :id => @shortened_url.unique_key), :target => "_blank"

    .info
      =link_to @shortened_url.url, @shortened_url.url, :target => "_blank"
      %br
      Created:
      =l @shortened_url.created_at

    .total_clicks
      Total clicks:
      =@shortened_url.use_count
  .col-lg-4.text-right
    .qr
      =raw @qr.as_html

.row
  #ClicksChart.col-lg-12
.row
  .col-lg-6
    #ReferersChart
  .col-lg-6
    #BrowsersChart

.row
  .col-lg-6
    #CountriesChart
  .col-lg-6
    #PlatformsChart

=render_chart @clicks_chart, 'ClicksChart'
=render_chart @referers_chart, 'ReferersChart'
=render_chart @browsers_chart, 'BrowsersChart'
=render_chart @countries_chart, 'CountriesChart'
=render_chart @platforms_chart, 'PlatformsChart'